/* Feuille de style CSS */

.index-container_recolte {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.index-container_sciages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 900px;
  margin: auto;
}

.row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.row .window {
  flex: 1;
  min-width: 0; /* Important pour que flex fonctionne correctement */
}

.window {
  background-color: #f0f4f8;
  border: 2px solid #d1d9e6;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-family: Marianne, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.window:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  background-color: #e6effb;
}

.window_title {
  background-color: #f0f4f8;
  border: 2px solid #d1d9e6;
  border-radius: 10px;
  text-align: right;
  padding: 23px;
  font-family: Marianne, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--sans-serif);
  margin: 4rem 0 8rem;
  text-wrap: balance;
  text-align: center;
}

.hero h1 {
  margin: 1rem 0;
  padding: 1rem 0;
  max-width: none;
  font-size: 14vw;
  font-weight: 900;
  line-height: 1;
  background: linear-gradient(30deg, var(--theme-foreground-focus), currentColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero h2 {
  margin: 0;
  max-width: 34em;
  font-size: 30px;
  font-style: initial;
  font-weight: 500;
  line-height: 1.5;
  color: var(--theme-foreground-muted);
  color: #0e0101;
}

.hero h3 {
  margin: 0;
  max-width: 34em;
  font-size: 25px;
  font-style: initial;
  font-weight: 500;
  line-height: 1.5;
  color: var(--theme-foreground-muted);
  color: #180202a8;
}

@media (min-width: 640px) {
  .hero h1 {
    font-size: 70px;
  }
}

body {
  font-family: 'Marianne', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  text-align: left;
}

h1{
  font-family: 'Marianne', sans-serif;
  color:rgb(11, 102, 158);
}

h2, h3 {
  font-family: 'Marianne', sans-serif;
  color:rgb(17, 126, 193);
}

.region {
  margin-left: 20px;
}

.publication {
  margin-left: 18px;
}

p {
  margin-bottom: 10px;
}